@use 'icons';
@use 'sprite-animation';
@use 'sass:math';

:root{
    --speed: 1;
}


.hide{
    animation: hide calc(1s / var(--speed)) forwards ease-in-out;
    animation-iteration-count: 1;
}

@keyframes hide {
    from {
        opacity: 1;
    }


    to {
        width: 0;
        opacity: 0;
        display: none;
    }
}


$stat-offset: -80px;
$dmg-speed: 1s;

.count:not(:empty)::before{
    content: "x";
}

#game[data-state=combat]{
    #data{
        display: none;
    }
}

#game[data-state=draft]{
    .enemy{
        display: none;
    }
    #start-combat, #end-combat{
        display: none;  
    }
}

#data{
    animation: show 1s forwards;
}


#combat #speed button::before{
    content:'x'attr(data-speed);
}

.sprite-container{
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress{
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;

        .progress-bar{
            transition: width calc(.6s / var(--speed)) ease !important;
        }
    }

    .damage{
        position: absolute;
        color:red;
        font-weight: bold;

        visibility: hidden;
        animation: damage calc($dmg-speed / var(--speed)) forwards ease-in-out;
        animation-iteration-count: 1;
        animation-play-state: paused;
    }

    .stats{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 80px;

        div{
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }


}

.sprite-container.user{
    .stats{
        left: $stat-offset;
    }
}

.sprite-container.enemy{
    .sprite-wrapper{
        transform:  scaleX(-1);
    }
    .stats{
        right: math.div($stat-offset, 2);
    }
}

@keyframes damage {
    from {
        visibility: visible;
        opacity: 0;
        top: 30%;
    }

    50% {
        opacity: 1;
    }

    to {
        top: 10px;
        opacity: 0;
        visibility: hidden;
    }
  }