.attack-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -160px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.defense-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -192px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.health-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -192px 0px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.gold-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -224px -384px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.win-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: 0px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.loss-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.tier-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -128px -128px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.cost-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -192px -384px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.reroll-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -416px -416px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.round-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -288px -160px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.level-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -160px -96px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.buy-tier-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -128px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.end-draft-icon {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -384px -416px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.count:not(:empty)::before {
  content: "x";
}

.combat #data {
  display: none;
}

.draft .enemy {
  display: none;
}

.sprite-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprite-container .progress {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
}
.sprite-container .stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80px;
}
.sprite-container .stats div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.sprite-container.user .stats {
  left: -80px;
}

.sprite-container.enemy .sprite-wrapper {
  transform: scaleX(-1);
}
.sprite-container.enemy .stats {
  right: -40px;
}

.player-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/idle.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.player-attack {
  background-position-y: 0px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/attack.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-17 1.5s steps(17);
  animation-iteration-count: 1;
}

.player-death {
  background-position-y: 0px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/death.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-11 0.8s steps(11);
  animation-iteration-count: 1;
}

.bat-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: playSkip 0.6s steps(4);
  animation-iteration-count: infinite;
}

.bat-attack {
  background-position-y: -128px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action 0.8s steps(4);
  animation-iteration-count: 1;
}

.bat-death {
  background-position-y: -256px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action 0.8s steps(4);
  animation-iteration-count: 1;
}

.bones-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.bones-attack {
  background-position-y: -64px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.bones-death {
  background-position-y: -192px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.crab-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.crab-attack {
  background-position-y: -256px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.crab-death {
  background-position-y: -384px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 0.8s steps(5);
  animation-iteration-count: 1;
}

.golem-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.golem-attack {
  background-position-y: -256px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.golem-death {
  background-position-y: -320px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.pebble-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.pebble-attack {
  background-position-y: -64px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 0.8s steps(5);
  animation-iteration-count: 1;
}

.pebble-death {
  background-position-y: -192px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.rat-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: playSkip 0.6s steps(4);
  animation-iteration-count: infinite;
}

.rat-attack {
  background-position-y: -128px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.rat-death {
  background-position-y: -320px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 0.8s steps(5);
  animation-iteration-count: 1;
}

.slime-idle {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play 0.6s steps(4);
  animation-iteration-count: infinite;
}

.slime-attack {
  background-position-y: -128px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 0.8s steps(6);
  animation-iteration-count: 1;
}

.slime-death {
  background-position-y: -256px;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action 0.8s steps(4);
  animation-iteration-count: 1;
}

.hidden:empty {
  display: none;
}

@keyframes play {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -256px;
  }
}
@keyframes play-action {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -256px;
  }
}
@keyframes playSkip {
  from {
    background-position-x: -64px;
  }
  to {
    background-position-x: -320px;
  }
}
@keyframes play-5 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -320px;
  }
}
@keyframes play-6 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -384px;
  }
}
@keyframes play-11 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -704px;
  }
}
@keyframes play-17 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1088px;
  }
}

/*# sourceMappingURL=styles.css.map */
