.attack-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -160px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.defense-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -192px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.health-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -192px 0px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.gold-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -224px -384px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.win-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: 0px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.loss-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -32px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.tier-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -128px -128px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.cost-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -192px -384px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.reroll-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -416px -416px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.round-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -288px -160px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.level-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -160px -96px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.buy-tier-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -128px -64px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

.end-draft-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-position: -384px -416px;
  background-repeat: no-repeat;
  background-image: url("img/Icons.png");
}

[data-tag=player][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/idle.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=player][data-type=attack] {
  background-position-y: 0px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/attack.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-12 calc(0.8s / var(--speed)) steps(12);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=player][data-type=death] {
  background-position-y: 0px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/death.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-11 calc(0.8s / var(--speed)) steps(11);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=bat][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: playSkip calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=bat][data-type=attack] {
  background-position-y: -128px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action calc(0.8s / var(--speed)) steps(4);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=bat][data-type=death] {
  background-position-y: -256px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action calc(0.8s / var(--speed)) steps(4);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=bones][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=bones][data-type=attack] {
  background-position-y: -64px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=bones][data-type=death] {
  background-position-y: -192px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Bones_SingleSkull_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=crab][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=crab][data-type=attack] {
  background-position-y: -256px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=crab][data-type=death] {
  background-position-y: -384px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Crab_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 calc(0.8s / var(--speed)) steps(5);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=golem][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=golem][data-type=attack] {
  background-position-y: -256px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=golem][data-type=death] {
  background-position-y: -320px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Golem_Armor_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=pebble][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=pebble][data-type=attack] {
  background-position-y: -64px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 calc(0.8s / var(--speed)) steps(5);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=pebble][data-type=death] {
  background-position-y: -192px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Pebble_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=rat][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: playSkip calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=rat][data-type=attack] {
  background-position-y: -128px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=rat][data-type=death] {
  background-position-y: -320px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Rat_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-5 calc(0.8s / var(--speed)) steps(5);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=slime][data-type=idle] {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play calc(0.6s / var(--speed)) steps(4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

[data-tag=slime][data-type=attack] {
  background-position-y: -128px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-6 calc(0.8s / var(--speed)) steps(6);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

[data-tag=slime][data-type=death] {
  background-position-y: -256px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("img/Slime_Spiked_Full.png");
  background-repeat: no-repeat;
  transform: scale(3);
  animation: play-action calc(0.8s / var(--speed)) steps(4);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hidden:empty {
  display: none;
}

@keyframes play {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -256px;
  }
}
@keyframes play-action {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -256px;
  }
}
@keyframes playSkip {
  from {
    background-position-x: -64px;
  }
  to {
    background-position-x: -320px;
  }
}
@keyframes play-5 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -320px;
  }
}
@keyframes play-6 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -384px;
  }
}
@keyframes play-11 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -704px;
  }
}
@keyframes play-12 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -768px;
  }
}
.fadeout {
  animation: damage forwards ease-in-out;
  animation-iteration-count: 1;
}

@keyframes damage {
  from {
    opacity: 0;
    top: 20%;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
:root {
  --speed: 1;
}

.hide {
  animation: hide calc(1s / var(--speed)) forwards ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
    display: none;
  }
}
.count:not(:empty)::before {
  content: "x";
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#game[data-state=combat] #data {
  display: none;
}

#game[data-state=draft] .enemy {
  display: none;
}
#game[data-state=draft] #start-combat, #game[data-state=draft] #end-combat {
  display: none;
}

#data {
  animation: show 1s forwards;
}

.title {
  text-transform: capitalize;
}

#combat #speed button::before {
  content: "x" attr(data-speed);
}

.sprite-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprite-container .progress {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
}
.sprite-container .progress .progress-bar {
  transition: width calc(0.6s / var(--speed)) ease !important;
}
.sprite-container .damage {
  position: absolute;
  color: red;
  font-weight: bold;
  visibility: hidden;
  animation: damage calc(1s / var(--speed)) forwards ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: paused;
}
.sprite-container .stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80px;
}
.sprite-container .stats div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.sprite-container.user .stats {
  left: -80px;
}

.sprite-container.enemy .sprite-wrapper {
  transform: scaleX(-1);
}
.sprite-container.enemy .stats {
  right: -40px;
}

@keyframes damage {
  from {
    visibility: visible;
    opacity: 0;
    top: 30%;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 10px;
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
