@use 'icons';
@use 'sass:math';

.sprite-container{
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;

    .progress{
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
    }
}

$sprite-width: 64px;
$sprite-height: 64px;
$speed-idle: .6s;
$speed-action: .8s;

@mixin sprite_data($url){
    border: 1px solid black;
    width: $sprite-width;
    height: $sprite-height;

    background-image: url($url);
    transform:  scaleX(-1) scale(3);
}

@mixin sprite-idle($url, $play:play) {
    @include sprite_data($url);

    animation: $play $speed-idle steps(4);
    animation-iteration-count: infinite;
}

@mixin sprite-action($url, $anim:play-action, $steps:4) {
    @include sprite_data($url);

    animation: $anim $speed-action steps($steps);
    animation-iteration-count: 1;
}

$bat-url: "img/Bat_Full.png"; //idle skip, 1 death, na, 3 attack 
$bones-url: "img/Bones_SingleSkull_Full.png"; //idle, na, 2 death, 3 attack
$crab-url: "img/Crab_Full.png"; //idle, death, na, attack
$golem-url: "img/Golem_Armor_Full.png"; // idle, _ , _, attack
$pebble-url: "img/Pebble_Full.png"; // idle, _ , death, attack
$rat-url: "img/Rat_Full.png";   //idle skip, death, hit, attack
$slime-url: "img/Slime_Spiked_Full.png"; //idle, death, hit, attack

@mixin createSprite($name, $url, $offset: 0, $anim:play-action, $steps:4){
    .#{$name}{
        background-position: 0 ($offset * $sprite-height );
        @include sprite-action($url, $anim, $steps);
    }
}

@mixin createIdle($name, $url, $anim:play){
    .#{$name}{
        @include sprite-idle($url, $anim);
    }
}


@include createIdle("bat-idle",  $bat-url, playSkip);
@include createSprite("bat-attack",$bat-url, 3);
@include createSprite("bat-death", $bat-url, 1);

@include createIdle("bones-idle",  $bones-url);
@include createSprite("bones-attack",$bones-url, 3, play-5, 5);
@include createSprite("bones-death", $bones-url, 2, play-6, 6);

@include createIdle("crab-idle",  $crab-url);
@include createSprite("crab-attack",$crab-url, 3, play-6, 6);
@include createSprite("crab-death", $crab-url, 1, play-5, 5);

@include createIdle("golem-idle",  $golem-url);
@include createSprite("golem-attack",$golem-url, 3, play-6, 6);
@include createSprite("golem-death", $golem-url, 2, play-6, 6); //2

@include createIdle("pebble-idle", $pebble-url);
@include createSprite("pebble-attack", $pebble-url, 3, play-5, 5);
@include createSprite("pebble-death", $pebble-url, 2, play-6, 6);

@include createIdle("rat-idle", $rat-url, playSkip);
@include createSprite("rat-attack", $rat-url, 4, play-6, 6);
@include createSprite("rat-death", $rat-url, 1, play-5, 5);

@include createIdle("slime-idle", $slime-url);
@include createSprite("slime-attack", $slime-url, 3);
@include createSprite("slime-death", $slime-url, 1);

.hidden:empty{
    display: none;
}

@keyframes play {
    from { background-position-x: 0; }
    to { background-position-x: -256px; }
}

@keyframes play-action {
    from { background-position-x: 0; }
    to { background-position-x: -256px; }
}

@keyframes play-6 {
    from { background-position-x: 0; }
    to { background-position-x: -($sprite-width * 6); }
}

@keyframes play-5 {
    from { background-position-x: 0; }
    to { background-position-x: -($sprite-width * 5); }
}

@keyframes playSkip {
    from { background-position-x: -64px; }
    to { background-position-x: -320px; }
}

@keyframes enemy-attack-move {
    from {}
    to {}
}