<div class="d-flex flex-column" data-state="wait">
    <div class="d-flex justify-content-center">mulit</div>
    <div class="d-flex justify-content-center">        
        {% include 'main/sprite.html' with tag='player' creature=creature type='user' %}
        {% include 'main/sprite.html' with tag='bones' creature=enemy type='enemy' %}
    </div>
    <div class="d-flex justify-content-center" id="combat-buttons">
        <button class="btn btn-primary mr-2" id="start-combat">Play</button>
        <div class="btn-group" id="speed">            
            <button data-speed="1" class="btn btn-primary active"></button>
            <button data-speed="1.5" class="btn btn-primary"></button>
            <button data-speed="2" class="btn btn-primary"></button>
            <button data-speed="4" class="btn btn-primary"></button>
            <button data-speed="8" class="btn btn-primary"></button>
        </div>
        <button class="btn btn-danger ml-2" id="end-combat">End</button>
    </div>
</div>