
<div class="card">
    <div class="data">
        <div class="card-body">
            <div>Round: <d name="round">{{data.round}}</d> Wins:<d name="wins">{{data.wins}}</d> Loss:<d name="loss">{{data.loss}}</d></div>
            <div>tier: <d name="tier">{{data.tier}}</d> Cost:<d name="tier_cost">{{data.tier_cost}}</d></div>
        </div>
        <div class="card-body d-flex justify-content-between">
            <div>
                <h3>Gold: <d name="gold">{{data.gold}}</d></h3>
            </div>
        
            <div class="btn-group" >
                <button class="btn btn-primary btn-sm" name="reroll" width="50">reroll</button>
                <button class="btn btn-primary btn-sm" name="buyTier">tier</button>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="list row" name="store_list">
            {% for item in data.store_list %}
                {% include 'main/item.html' with item=item buy=True%}
            {% endfor %}
        </div>
    </div>
    

</div>

