{% extends "main/layout.html" %}

{% block body %}

<div id="error" class="alert alert-danger hidden"></div>

<div id="game" data-state="{{state}}">
    <div class="d-flex justify-content-between">
        <h2 class="title">{{state}}</h2>
        <button class="btn btn-danger btn-sm" name="retireModal">Retire</button>
    </div>
    
    <div id="combat">
        {% include 'main/combat.html' %}
    </div>
    
    {% if user.is_authenticated%}

    <div id="data">
        {% include 'main/data.html' %}
    </div>
    <div id="creature">
        {% include 'main/creature.html' %}
    </div>
    {% else %}
        <a href="{% url 'login' %}">Please Login</a>

    {% endif %}
</div>



<div class="modal modal-backdrop" tabindex="-1" role="dialog" id="retireModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Retire</h5>
            <button type="button" class="close" name="dismiss" aria-label="Close">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <p>Retire Run. Will lose all progress.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" name="retire">Yes</button>
            <button type="button" class="btn btn-secondary" name="dismiss">Close</button>
        </div>
      </div>
    </div>
</div>

<template id="item">
    {% include 'main/item.html' with buy=True%}
</template>
{% endblock %}