<div name="{{tag}}" class="sprite-container">
    <div class="{{tag}}-idle sprite" data-tag="{{tag}}"></div>
    <div class="progress" role="progressbar" >
        <div class="progress-bar w-75 bg-danger"></div>
    </div>


</div>

<div>
    <div>
        attack <i class="attack-icon"></i>
    </div>
    
    Defense:<i class="defense-icon"></i>
    health:<i class="health-icon"></i>
    gold<i class="gold-icon"></i>
    win<i class="win-icon"></i>
    loss<i class="loss-icon"></i>
    tier<i class="tier-icon"></i>
    cost<i class="cost-icon"></i>
    reroll<i class="reroll-icon"></i>
    end<i class="end-draft-icon"></i>
    upgrade tier<i class="buy-tier-icon"></i>
</div>